body {
    margin: 0;
    padding: 0;
    background-color: #54c3ef;
}

html {
    height: 100%;
}

header {
        background: #fad744;
        padding: 20px;
}

.logo-title {
    display: inline;
    font-size: 28px;
    border: 1px solid red; 
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
} 

.go-home {
    display: inline;
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.title {
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252;
    margin: 0;
}

main {
    padding: 4% 16%;
}

.container {
    margin-top: 36px;
    width: 100vh;
    border-radius: 6px;
    padding: 16px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

section {
    display: inline-block;
    width: 70%;
    height: 100%;
    padding-right: 16px;
    border-right: 1px solid #ccc;
}

video {
    width: 100%;
    height: 100%;
}

.views {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 16px;   
}

.desc {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #ccc;
    padding-top: 16px;
}

.desc-text {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}

aside {
    display: inline;
    float: right;
    width: 25%;
    margin-left: 16px;
    box-sizing: border-box;
    height: 100%;
}

/* figure, figcaption {
    margin: 0;
    padding: 0;
} */

.card {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.card figure img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 20px 0;
    background-color: black;
    color: white;
}

.copyright, .love-text{
    display: inline;
}

.love-text {
    float: right;
    margin-right: 20px;
}