body {
    margin: 0;
    padding: 0;
    background-color: #54c3ef;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
        background: #fad744;
        padding: 20px;
}

.logo-title {
    display: inline;
    font-size: 28px;
    border: 1px solid red; 
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
} 

.go-home {
    display: inline;
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.title {
    font-family: 'Caveat Brush', cursive;
    font-size: 90px;
    text-align: center;
    color: #fad744;
    text-shadow: 2px 5px #2b3252;
    margin: 0;
}

main {
    padding: 4% 16%;
}

.container {
    margin-top: 36px;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    padding: 16px;
    background-color: white;
    color: black;
    box-sizing: border-box;
}

section {
    width: 70%;
    float: left;
    height: 100%;
}

video {
    width: 100%;
}

.views {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
    width: 70%;
    display: inline-block;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-top: 16px;   
}

.icons {
    display: inline;
    float: right;
    margin-right: 5px;
}

i {
    padding: 10px;
}

i:hover {
    cursor: pointer;
}

.desc {
    font-size: 36px;
    margin-top: 16px;
    margin-bottom: 16px;
    border-top: 1px solid #ccc;
    padding-top: 16px;
}

.desc-text {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-top: 0;
    color: rgba(0, 0, 0, 0.7);
}

aside {
    display: inline-block;
    width: 28%;
    margin-left: 16px;
    box-sizing: border-box;
    height: 100%;
    padding-left: 16px;
    border-left: 1px solid #ccc;
}

figure, figcaption {
    margin: 0;
    padding: 0;
}

figcaption {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
    text-align: center;
}

.card {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.card:hover {
    border: 4px solid #fad744;
}

.card figure img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
}

footer {
    margin-bottom: 0;
    width: 100vw;
    padding: 80px 0;
    background-color: #2556a1;
    color: yellowgreen;
}

.copyright, .love-text{
    display: inline;
    font-size: 25px;
}

.love-text {
    float: right;
    margin: 0;
    margin-right: 20px;
}

.copyright {
    margin-left: 20px;
}